[Unit]
Description=Transfer Service (Streaming)
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/python3 /home/raspberry/transfer/stream.py
WorkingDirectory=/home/raspberry
StandardOutput=inherit
StandardError=inherit
Restart=always
User=raspberry

[Install]
WantedBy=multi-user.target