[Unit]
Description=Transfer Service (Streaming)
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/lxterminal -e /usr/bin/python3 /home/raspberry/transfer/stream.py
Restart=always
User=raspberry
WorkingDirectory=/home/raspberry
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=default.target